/*
 * style.css
 */

/*
 * Debugging styles
 */

/* box {
 *   border: 1px solid red;
 * }
 */

.vim-mode-plus-input {
  border: 1px solid red;
}

/*
 * Elements
 */

notebook tab {
  margin: 0;
}
notebook stack > * {
  margin: 0px;
}

.main-toolbar {
  padding: 0;
}
.main-toolbar button {
  border-radius: 0;
  padding: 10px;
}
