/*
 * style.css
 */

/*
 * Debugging styles
 */

/* box {
 *   border: 1px solid red;
 * }
 */

/* .vim-mode-plus-input {
 *   border: 1px solid red;
 * } */

/*
 * Elements
 */

window {
  border-radius: 12px;
}

headerbar {
  border-bottom: 1px solid alpha(white, 0.1);
}
headerbar:backdrop {
  border-bottom: 1px solid alpha(white, 0.05);
}

tabview {
  background-color: @headerbar_bg_color;
}
tabview:backdrop {
  background-color: @headerbar_backdrop_color;
}


tabbox {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
tabbox > separator {
  opacity: 0;
}
/* tabview {} */
tab {
  border-radius: 5px;
  transition: background-color 150ms;
}
tab:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
tab:selected {
  background-color: rgba(255, 255, 255, 0.1);
}


.selector {
  border: 1px solid alpha(white, 0.2);
  border-radius: 12px;
  background-color: @view_bg_color;
}
.selector entry {
  padding-top:    8px;
  padding-bottom: 5px;
  padding-left:  12px;
  padding-right: 12px;
  font-family: mono;

  /* margin: 5px; */
  border-top-left-radius:  12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selector scrolledwindow {
  background-color: @view_bg_color;
  border-top-left-radius:     0;
  border-top-right-radius:    0;
  border-bottom-left-radius:  12px;
  border-bottom-right-radius: 12px;
}
.selector listbox {
  background-color: @view_bg_color;
}
.selector row {
  background-color: @view_bg_color;
  padding-top:    8px;
  padding-bottom: 5px;
  padding-left:  12px;
  padding-right: 12px;
}
